body {
  background-color: #ffffff9e;
  /* margin: 0 23px; */
}

.App {
  text-align: center;
  position: relative;
}
/* .container {
  height: 100vh;
} */
.customflex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  background-color: black;
  color: white;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  width: fit-content;
  padding: 0 1rem;
  transition: all 0.2s ease-in ;
  margin-top: 12px;
}

button:hover {
  background-color: rgb(247, 245, 245);
  color: rgb(0, 0, 0);
}
.container {
  height: 100vh;
  position: relative;

  /* padding-bottom: 4rem; */
}

.navbar {
  flex-direction: row;
  justify-content: space-around;
}
.nav-bar {
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  background-color: rgb(48, 88, 207);
  background-color: rgb(0, 0, 0);
  /* height: 5vh; */
  height: 7vmin;
  font-size: 2.5vmin;
  border-bottom: 3px solid gray;
}
.nav-bar button {
  position: relative;
  bottom: 0;
  margin: auto 0;
}

.todo-form form {
  right: 0;
  left: 0;
  margin: 0 auto;
  margin-bottom: 4rem;
  margin-top: 2rem;
  position: relative;
  width: 100%;
  width: 30%;
  position: relative;
  border: 10px solid #6c6fc6b4;
  border-radius: 12px;
  padding: 10px;
  background-color: #fff;
}
.todo-form form > * {
  width: 30%;
  width: 90%;
  padding: 0.5em 0;
}

.todo-form form input,
.todo-form form textarea {
  padding: 0.5rem;
}
.color-gradient {
  --size: 70vmin;
  background-image: linear-gradient(
    to bottom right,
    rgb(48, 88, 207),
    rgb(169, 204, 232)
  );
  /* margin: 0px 100px; */
  width: var(--size);
  height: var(--size);
  justify-content: flex-start;
  padding-top: 30px;
  font-size: 6vmin;
  margin-top: 40px;
  border-radius: 0.5rem;
}
.icon {
  margin-top: 2rem;
  font-size: 10rem;
}

/* .login-form-container { */
/* position: relative;
  background-color: #130404; */
/* height: 300px; */
/* } */

.login-form,
.register-form {
  /* background-color: #dd2121; */
  position: absolute;
  width: 30vmax;
  height: 20%;
  right: 0;
  left: 0;
  margin: 0 auto;
  top: 0;
  z-index: 1;
  font-size: 1.2em;

  margin-top: 9rem;
}
.login-form input,
.register-form input {
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0rem;
  font-size: 1rem;
}
.register-form::after,
.login-form::after {
  content: "";
  background-color: #4566c9;
  border: blue 1px dashed;
  position: absolute;
  width: 32vmax;
  height: 250px;
  z-index: -1;
}

.completed {
  --fz: 3vmin;
  color: aliceblue;
  background-color: #a8e646;
  font-size: var(--fz);
}
.not-completed {
  --fz: 3vmin;
  color: aliceblue;
  background-color: #6c6fc6b4;
  font-size: var(--fz);
}

.todo-container {
  width: 70vw;
  margin: 0 auto;
  margin-top: 1rem;
  /* margin-bottom: 5rem; */
}

.todo-card {
  border: 1px solid rgb(2, 0, 0);
  border-radius: 30px;
  background-color: #fff;
  padding: 20px;
}
.btn-card {
  padding: 20px;
}

.gridD {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-radius: 30px;
  border: 1px solid black;
  box-shadow: 5px 5px #efecec;

  /* margin: 30px; */
  /* margin-right: 30px; */
  margin-left: 0;
  padding: 0.5rem;
  margin-bottom: 20px;
  color: #ffffff;
  transition: all .2s ease-in;
}
.gridD:hover {
  transform: scale(1.02);
  box-shadow: 5px 5px #4158dc;
}

.gridD h3 {
  font-weight: bold;
  color: #000000;
}
.gridD span {
  font-weight: bold;
  color: #2a52cd;
  background-image: linear-gradient(
    to bottom right,
    rgb(48, 88, 207),
    rgb(169, 204, 232)
  );
  background-clip: text;
}
.gridD img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.gridD button {
  position: relative;
  display: flex;
  right: -7vmin;
}
.modal-view {
  display: flex;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  margin: 0 auto;
  width: fit-content;
  height: fit-content;
  background-color: #152830;
  z-index: 5;
  /* padding-top: 20px; */
  /* padding: 0 10px; */
  /* padding-bottom: 40px; */
}
.modal-view form > * {
  width: 80%;
}
.modal-view form button {
  position: relative;
  right: 0;
  margin: 0 auto;
  width: fit-content;
  font-size: 1.3rem;
}
.modal-view label {
  font-size: 1.3rem;
}
.modal-view p {
  cursor: pointer;
  font-size: 1.3rem;
  margin: 0;
  width: 100%;
  align-self: flex-end;
  text-align: left;
}
.modal-view input {
  box-sizing: border-box;
  padding: 0.5rem;
  font-size: 1rem;
}
.modal-view form textarea {
  height: 50px;
  font-size: 1rem;
  padding: 0.5rem;
  box-sizing: border-box;
}

.footer {
  box-sizing: border-box;
  text-align: center;
  position: relative;
  bottom: -55vh;
  /* top: 0; */
  padding-top: 1.5rem;
  height: 4rem;
  background-color: #000000;
  color: white;
  width: 100vw;
}
.exit-button {
  position: relative;
  left: 160px;
  top: 10px;
}

@media screen and (max-width: 1024px) {
  .todo-container {
    width: 90vw;
  }
  .todo-form form {
    margin-top: 2rem;
    width: 60vmin;
    position: relative;
  }
  .todo-form form > * {
    width: 30vmax;
  }
}

@media screen and (max-width:768px) {
  .todo-form form {
    width: 60vmin;
    /* width: 10rem; */
    padding: 0px;
      }
  .todo-form form > * {
    width: 80%;
  }
  .gridD img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  .gridD button {
    right: 0vmin;
  }
  .btn-card {
    margin-top: 2rem;
  }
  
}
@media screen and (max-width:435px) {
  .todo-form form {
    width: 80vmin;
    /* width: 10rem; */
    padding: 0px;
      }
  .todo-form form > * {
    width: 80%;
  }
  .todo-container {
    width: 90vw;
  }
  .gridD img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  button {
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: .5rem;
    cursor: pointer;
    width: fit-content;
    padding: 0 .2rem;
    transition: all 0.2s ease-in ;
    margin-top: 12px;
  }
  .btn-card {
    padding: 0 10px;
  }
  .gridD button {
    position: relative;
    display: flex;
    right: 0vmin;
  }
  

}
